<h2> Create A Notebook!</h2>

<form method="post" action="/notebooks">
    <p>Notebook Name: <input type="text" id="notebook_name" name="notebook_name"></p>
    <p>Description: <input type="text" id="notebook_description" name="notebook_description"></p>
    <input type="submit" value="Create Notebook">
</form>

<p><a href="/">Notebooks</a></p>
<p><a href="/logout">Log Out</a></p>